.accordion-container {
    max-width: 800px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.accordion-wrapp {
    background-color: #f4e4f7; /* Light purple background */
    padding: 10px;
    border-radius: 6px;
}

.accordion-item {
    background-color: #e1cbe5; /* Slightly darker purple */
    margin-bottom: 8px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: #d6b8e3; 
}
.accordion-item:hover {
    border: 1px solid #9558b9;
}


.accordion-title {
    padding: 8px 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}
h3 {
    margin: 0;
}

.accordion-content {
    padding: 15px 20px;
    color: #333;
    transition: all 0.3s ease;
}

.accordion-content p {
    margin: 0;
    line-height: 1.6;
}
